.card {
    width: 60%;
}

#error {
    width: 100%;
    margin-top: 20px;
}

.card-header, .card-footer, #error {
    font-family: "Montserrat";
    font-style:normal;

    text-align: center;
}

.card-header {
    color: white;
    font-size: large;
    background-color: #FFB42D
}

.card-footer {
    border-top: none;
}

.card {
    font-family: "Montserrat";
    font-style:normal;
    margin-bottom: 200px;
}

#doneBtn {
    background-color: #FF9FAA;
    border-color: #FF9FAA;
}

#doneBtn:hover {
    background-color: #c67c85;
    border-color: #c67c85;
}

img {
    max-width: 400px;
    max-height: 400px;

    object-fit: contain;
}

.col-sm > label {
    font-size: small;
}

.product-info {
    text-align: center;
}

.collapse-btn {
    width: 100%;
}
